/* Nullify */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* Nullify */

body {
	font-family: 'Playfair Display', serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.hi {
	background-color: white;
	/* background-color:yellow; */
	padding: 30px 0;
}

.container {
	max-width: 65.74%;
	margin: 0 auto;
}

.hi_box {
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
}

.hi_navigation {
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	line-height: 22px;
	color: #828282;
	border-bottom: 1px solid #828282;
	transform: matrix(1, 0, 0, 1, 0, 0);
	padding-bottom: 32px;

}

.home {}

.about {}

.skills {}

.portfolio {}

.contacts {}

.hi_aboutme {
	display: flex;
	padding: 50px 0 30px 0;
	justify-content: space-between;

}

.my_name {
	font-size: 40px;
	line-height: 59px;
	color: #070707;

}

.short_info {
	font-size: 18px;
	line-height: 22px;
	color: #070707;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: -300px;
}

.language {
	font-size: 16px;
	line-height: 20px;
	color: #828282;
	transform: rotate(-90deg);
	margin-right: -70px;
}

span.bold {
	font-weight: bold;
	color: #070707;
}

.myimage {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

}

.footer {
	background: white;
	/* must be white */
}

.footer_box {
	display: flex;
	height: 622px;
	/* height: 622px; in the maket */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact_info {}

.contact_title {
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	margin: 114px auto 20px auto;

}

.contact_sentence {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 30px;
}

.contact_button {
	font-size: 14px;
	text-align: center;
	background-color: black;
	padding: 8px 10px;
	margin: 0px 60px;
	border-radius: 50px;
	margin-bottom: 86px;

}

.contact_button:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.contact_button a {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
}

.contact_links {
	margin-bottom: 46px;

}

.contact_links a {
	margin: 0 36px;

}

.contact_text {
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #828282;

}

.container_allpage{
	max-width: 100%;
	margin: 0 auto;
}

.information {}

.information_box {
	display: flex;
	background: #F6F6F6;
	justify-content: center;
	/* flex: 0 0; */
}

.information_body {}

.information_title {
	margin-top: 120px;
	margin-bottom: 18px;
}

.title {
	font-size: 34px;
	line-height: 42px;
	text-align: center;
	color: #070707;
}

.information_text {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #070707;
	 margin-bottom: 107px;
}

.information_text p {
	padding: 30px;
}